<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
{% load staticfiles %}
<html class="no-js"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="UTF-8">

        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="" name="author"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
        <!-- Title  -->
        <title> {{ page_title }} </title>
    
        <!-- Favicon  -->
        <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">
    
        <!-- Core Style CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{% static 'css/core-style.css' %}" type="text/css" media="screen" />

        {% block form_css %}
        {% endblock form_css %}
        
    </head>
    <!-- END HEAD -->

    <!-- BODY -->
    <body id="body">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        
        {% block search %}
            {% include "snippet_search.html" %}
        {% endblock search %}

        <!-- ##### Main Content Wrapper Start ##### -->
        <div class="main-content-wrapper d-flex clearfix">

            {% block sidebar %}
                {% include "snippet_sidebar.html" %}
            {% endblock sidebar %}

            {% block main %}
            {% endblock main %}

        </div>
        <!-- ##### Main Content Wrapper End ##### -->


        {% block footer %}
            {% include "snippet_base_footer.html" %}
        {% endblock footer %}

        {% block scripts %}
            <!-- Back To Top -->
            <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
            <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
            <!-- Popper js -->
            <script src="{% static 'js/popper.min.js' %}"></script>
            <!-- Bootstrap js -->
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            <!-- Plugins js -->
            <script src="{% static 'js/plugins.js' %}"></script>
            <!-- Active js -->
            <script src="{% static 'js/active.js' %}"></script>
        {% endblock scripts%}

        {% block extra_scripts %}
        {% endblock extra_scripts %}

    </body>
    <!-- END BODY -->

</html>
