{% extends "app_base.html" %}

{% load staticfiles %}

        {% block main %}
        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
                {% for cake in cakes %}

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="#">
                        <img src="{{ cake.image.url }}" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From N{{ cake.price}}</p>
                            <h4>{{cake.name}}</h4>
                        </div>
                    </a>
                </div>

                {% endfor %}
                
            </div>
        </div>
        <!-- Product Catagories Area End -->
        {% endblock main %}
